

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.ontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
}

.single-card {
  position: relative;
  width: 310px;
  height: 325px;
  background: #010615;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  transition: all 0.5s;
}

.single-card:hover {
  height: 400px;
}

.single-card::before,
.single-card::after {
  content: "";
  background: linear-gradient(45deg, #3f4144 5%, #1471ba 25%, #33c8ee) 70%;
  position: absolute;
  inset: -2px;
  z-index: -1;
}

.single-card::after {
  filter: blur(40px);
  z-index: -2;
}

.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 305px;
  transition: 0.5s;
  opacity: 0.1;
}

.content {
  height: 90px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.title {
  font-size: 28px;
  line-height: 10px;
}

.single-card:hover .content {
  opacity: 1;
}

.single-card:hover img {
  opacity: 1;
}